<!DOCTYPE html>
<html class="no-js">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet"> -->
    <script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link href="../static/css/style.css" rel="stylesheet">
</head>

<body>

    <section>
        <header>
            <h1>Food Item Classifier</h1>
        </header>
        <div>
            <form id="upload-file" method="post" enctype="multipart/form-data">
                <label for="imageUpload" class="upload-label">
            Select Image...
        </label>
                <input type="file" name="file" id="imageUpload" accept=".png, .jpg, .jpeg">
            </form>

            <div class="image-section" style="display:none;">
                <div class="img-preview">
                    <div id="imagePreview">
                    </div>
                </div>
                <div>
                    <button type="button" id="predict">Predict!</button>
                </div>
            </div>

            <div class="loader" style="display:none;"></div>

            <h3 id="result">
                <span> </span>
            </h3>

        </div>
        <footer>
            <div class="footer-head">
                <h1>Items-List</h1>
            </div>
            <div class="items-list">
                <div class="mob-row1">
                    <h4>Chhoila</h4>
                    <h4>Rice</h4>
                    <h4>Kathi-Roll</h4>
                    <h4>Laphing</h4>
                </div>
                <div class="mob-row2">

                    <h4>Mo:Mo</h4>
                    <h4>Paani-Puri</h4>
                    <h4>Yomari</h4>
                </div>
            </div>

        </footer>
    </section>
    <script src="../static/js/app.js" async defer></script>

</body>


</html>